/* --------------------------------------------- component --------------------------------------------- */
.card,
.service-variable__item,
.service-table__content-item,
.banner-text,
.buh-card,
.buh-card__img,
.version-deal,
.table {
  box-shadow: 0px 0px 10px var(--grey-20);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 35px;
  border-radius: 16px;
  text-wrap: nowrap;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  height: fit-content;
  box-shadow: 0px 0px 10px var(--grey-20);
}

.button-white {
  background-color: var(--white);
  color: var(--blue);
}
.button-blue {
  background-color: var(--blue);
  color: var(--white);
}
.button:hover {
  opacity: 0.7;
}
.button-red {
  background-color: var(--red);
  color: var(--white);
}
.accent-red {
  color: var(--red);
}
.dropdown-button {
}
.dropdown-content {
  display: none;
}
.dropdown-content.active {
  display: block;
}
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.modal {
  position: relative;
  border-radius: 10px;
  padding: 25px;
  background-color: #fff;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-close {
  position: absolute;
  right: 45px;
  top: 45px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--white);

  border-radius: 12px;

  transition: all 0.2s;
}
.modal-close:hover {
  opacity: 0.7;
}
.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}
@media (max-width: 1000px) {
  .button {
    font-size: 16px;
    line-height: 19.2px;
    padding: 15px 20px;
    width: 100%;
  }
}

/* --------------------------------------------- header --------------------------------------------- */

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  /* border-radius: 25px; */
  /* border: 2px solid var(--blue); */

  transition: var(--transition);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.scroll {
  border-radius: 0;
  margin: 0;
  position: fixed;
  border: none;
}

.header .container {
  display: grid;
  grid-template-columns: 170px 1fr;

  align-items: center;
  gap: 50px;
  margin: 0;
  border-bottom: 1px solid #dadde4;
  width: 100%;
  position: relative;
  padding: 20px 50px;
}

.header-logo {
  /* margin: 20px 0; */
  /* min-width: 180px; */
}
.header-logo a {
  display: flex;
  gap: 20px;
}

.header-logo img {
  width: 73px;
  height: 50px;
}
.header-contact {
  display: flex;
  gap: 20px;
}
.header-contact span {
  /* font-size: 30px;
  line-height: 36px;
  color: var(--blue); */
}
.header-contact span.active {
  color: var(--red);
}
.nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  gap: 10px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 40px;
  text-wrap: nowrap;
  align-self: center;
  /* position: relative; */
  cursor: pointer;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item__url {
  display: flex;
  cursor: pointer;
  gap: 8px;
  color: var(--grey);
  transition: var(--transition);

  font-weight: 600;
  font-size: 18px;
}
.nav-item__url.active {
  color: var(--red);
}

.nav-item.active .nav-item__url {
  color: var(--red);
}

.nav-item:hover .nav-item__url {
  color: var(--red);
}

.nav-item__dropdown {
  position: absolute;

  top: calc(100% - 35px);
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
}
.nav-item__dropdown ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  box-shadow: 0px 5px 10px var(--grey-20);
  background-color: var(--white);
  border-radius: 0 0 10px 10px;
  width: 100%;
  gap: 15px;
  padding: 5px;
}
.nav-item__dropdown li {
  display: flex;
  color: var(--grey);
  transition: var(--transition);
}
.nav-item__dropdown li:hover {
  color: var(--red);
}
.nav-item__dropdown h3 {
  display: none;
}
@media (min-width: 1300px) {
  .nav-item:hover .nav-item__dropdown {
    padding: 35px 0;
    max-height: 1000px;
    transition: var(--transition);
  }
  .nav-item:hover ul {
    padding: 20px 50px;
  }
  .nav-item__dropdown h3 {
    display: block;
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 20px;
  }
}
.nav-contact {
  display: flex;
  align-items: center;
}
.nav-bottom {
  display: none;
  flex-direction: column;
  align-items: center;
}

.nav-bottom a:nth-child(3) {
  text-decoration: underline;
}
.nav-bottom__contact {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-bottom__contact {
  text-wrap: nowrap;
}
.header-button {
  border-radius: 12px;
  border: none;
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
  transition: var(--transition);
}
.header-button:hover {
  opacity: 0.7;
}

@media (max-width: 1300px) {
  .header {
    border-radius: 0;
    margin: 0;
    border: none;
  }
  .header .container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  .header-button {
    width: 100%;
    padding: 15px;
  }

  .nav-item__dropdown {
    position: relative;
    /* top: 100%;
    left: 0;
    right: 0;
    background-color: red; */
  }

  .nav-item__dropdown {
    background-color: transparent;
  }
  .nav-item.active .nav-item__dropdown {
    max-height: 1000px;
  }
  .nav-item__url {
    font-family: "Onest700";
    font-size: 18px;
    /* font-weight: 500; */
    line-height: 21.6px;
    color: var(--black);
  }
  .nav-item.active .nav-item__url img {
    transform: rotate(180deg);
  }
  .nav-item__dropdown.active {
  }
  .nav-item__dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px 5px;
    margin-top: 5px;
    border-top: 1px solid var(--grey);
    background-color: transparent;
  }
  .nav-item__dropdown li {
    display: flex;
    color: var(--grey);
    transition: var(--transition);
  }
  .nav-contact {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
}

/* --------------------------------------------- burger --------------------------------------------- */

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
  border-radius: 2px;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--black);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 1300px) {
  .nav-list {
    flex-direction: column;
    gap: 18px;
    padding: 0 20px;
  }

  .nav-item a {
  }

  .nav-item {
    width: 100%;
    padding: 10px 30px;
  }

  .nav-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
    padding: 0 20px;
  }
  .nav-bottom > div {
    width: 100%;
  }

  .nav-bottom__contact {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #000f0833;
    /* margin: 0 20px; */
    width: 100%;
  }
  .nav-bottom__contact a {
    width: 100%;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    background-color: var(--blue);
    border-radius: 12px;
  }

  /* .nav-bottom .button {
    margin-top: 40px;
    background-color: var(--blue);
    color: var(--white);
  } */
  .burger {
    display: block;
  }

  .nav {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    /* gap: 10px; */
    --header-height: 70px;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;

    z-index: 1000;
    overflow-y: auto;
    background: rgba(255, 255, 255, 1);

    /* backdrop-filter: blur(1px); */
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
  }

  .nav--visible {
    transform: none;
  }

  .nav-item {
    margin-right: 0;
    align-self: self-start;
  }

  .nav__link {
    display: inline-block;
    width: 100%;
    padding: 20px 30px;
    /* border-bottom: 1px solid var(--second-text); */
    font-size: 20px;
  }

  .else-block {
    background-color: black;
  }
}

@media (max-width: 1300px) {
  .header__contact-item {
    display: none;
  }
  .nav-list {
    gap: 5px;
  }
}

/* --------------------------------------------- form --------------------------------------------- */
.form {
}
.form .container {
}
.form-ctn {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 30px;
  padding: 40px;
  border-radius: 40px;
}
.form-img {
  border-radius: 20px;
  overflow: hidden;
}
.form-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.form-form {
}
.form-title {
  text-transform: uppercase;
  margin-bottom: 50px;
}
.form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
  color: var(--grey);
}
.form-inputs select,
.form-inputs option {
  cursor: pointer;
}
.form-inputs input {
  border-radius: 12px;
  padding: 21px 20px;
  background-color: var(--secondary);
  width: 100%;
  border: none;
  color: var(--grey);
  box-shadow: 0px 0px 5px var(--grey-20);
}
.form-inputs .select-ctn {
  position: relative;
}
.form-inputs .select-ctn__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.form-inputs select {
  border-radius: 12px;
  padding: 21px 20px;
  background-color: var(--secondary);
  width: 100%;
  border: none;
  color: var(--grey);
  -webkit-appearance: none;
  box-shadow: 0px 0px 5px var(--grey-20);
}
.form-inputs input:focus-visible,
select:focus-visible {
  border: none;
  outline: 0;
}

.form-inputs__span {
  color: var(--grey);
  margin-bottom: 40px;
}
/* .form-inputs {} */
.form-button__send {
  margin-bottom: 98px;
}
.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-bottom__text {
  color: var(--grey);
}
.form-bottom__buttons {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
}
.form-bottom__buttons-WA {
  color: var(--white);
  border-radius: 12px;
  padding: 15px 25px;
  background: rgba(39, 208, 69, 1);
  cursor: pointer;
  transition: var(--transition);
}
.form-bottom__buttons-TG {
  color: var(--white);
  border-radius: 12px;
  padding: 15px 25px;
  background: rgba(37, 162, 224, 1);
  cursor: pointer;
  transition: var(--transition);
}
.form-bottom__buttons-WA:hover,
.form-bottom__buttons-TG:hover {
  opacity: 0.7;
}
.form-bottom__system {
  padding: 10px 20px;
  color: var(--grey);
  background-color: var(--secondary);
  border-radius: 10px;
}
.form-rent .form-title {
  margin-bottom: 0;
}
.form-rent .form-text {
  margin: 50px 0;
}
.form-rent .form-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-rent .form-inputs__span {
  grid-column-end: 3;
  grid-column-start: 1;
}
.form-rent .form-button__send {
  width: fit-content;
}

.form-popup .form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.form-popup .modal-close {
  position: relative;
  padding: 10px;
  background-color: var(--secondary);
  top: auto;
  right: auto;
  font-size: 18px;
}
.form-popup .form-inputs {
  grid-template-columns: 1fr;
}
.form-popup .form-button__send {
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .form-ctn {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 20px 18px;
  }
  .form-img {
    margin: 20px 0;
  }
  .form-title {
    margin-bottom: 30px;
  }
  .form-inputs {
    grid-template-columns: 1fr;
  }
  .form-inputs input {
    padding: 15px;
  }
  .form-inputs__span {
    margin-bottom: 30px;
  }
  .form-button__send {
    margin-bottom: 0;
  }
  .form-bottom {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .form-rent .form-title {
    margin-bottom: 0px;
  }
  .form-rent .form-text {
    margin-top: 15px;
    margin-bottom: 30px;
    color: var(--grey);
  }
  .form-rent .form-button__send {
    width: 100%;
  }
}

/* --------------------------------------------- insert-mark --------------------------------------------- */
.insert-mark {
}
.insert-mark .container {
}
.insert-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  color: var(--white);
  background-color: var(--blue);
  padding: 50px;
  border-radius: 30px;
  position: relative;
  text-align: center;
  text-align: start;
}
.insert-mark h2 {
}
.insert-mark__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.insert-mark__text {
}
.img-inser-1 {
  position: absolute;
  top: 0%;
  left: 0%;
  pointer-events: none;
}
.img-inser-2 {
  position: absolute;
  bottom: 0%;
  right: 10%;
  pointer-events: none;
}
@media (max-width: 1000px) {
  .insert-ctn {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .insert-mark__right {
    flex-direction: column;
    gap: 40px;
  }
}

/* --------------------------------------------- main-banner --------------------------------------------- */
.main-banner {
  /* margin-top: 90px; */
}
.main-banner .container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.main-banner h1 {
  color: var(--red);
  text-align: center;
}
.main-banner .banner {
  display: flex;
  justify-content: center;
  position: relative;
  /* transform: translate(-47px, 0); */
}
.main-banner .banner-box {
  position: relative;
}
.main-img--ctn {
  padding: 25px;
  background: var(--white);
  border: 14px solid rgba(246, 246, 246, 1);
  border-radius: 30px;
  box-shadow: 0px 0px 10px var(--grey-20);
  width: fit-content;
}
.main-banner .banner-box img {
}
.banner-frame {
  position: absolute;
  z-index: -1;
}
.banner-frame1 {
  top: 20%;
  right: 99%;
  width: 220px;
  height: 64px;
}
.banner-frame2 {
  top: 20%;
  left: 99%;
}
.banner-frame3 {
  bottom: 10%;
  right: 96%;
}
.banner-frame4 {
  bottom: -13%;
  left: 99%;
}
.banner-text {
  display: flex;
  gap: 20px;
  padding: 19px 25px;
  position: absolute;
  border-radius: 20px;
  background-color: var(--white);
  text-wrap: nowrap;
}
.banner-text img {
}
.banner-text span {
}
.banner-text1 {
  top: 0%;
  left: -130%;
}
.banner-text2 {
  top: 0%;

  right: -150%;
}
.banner-text3 {
  bottom: 22%;
  left: -140%;
  /* bottom: 26%;
  left: 7%; */
}
.banner-text4 {
  bottom: 10%;
  right: -150%;
  /* bottom: 6%;
  right: 2%; */
}
.main-banner .button {
  width: fit-content;
  margin: 0 auto;
  /* transform: translate(-47px, 0); */
}
@media (max-width: 1300px) {
  .main-banner .container {
    gap: 25px;
  }
  .banner-frame {
    display: none;
  }
  .banner-text {
    position: static;
  }
  .main-banner .banner {
    transform: translate(0, 0);
  }
  .main-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 100%;
  }
  .banner-text--ctn {
    display: flex;
    overflow: auto;
    max-width: 100%;
    gap: 10px;
  }
  .banner-text {
    min-width: fit-content;
    padding: 10px;
  }
  .main-banner .button {
    width: 100%;

    transform: translate(0, 0);
  }
}
/* --------------------------------------------- main-service  --------------------------------------------- */
.main-service {
}
.main-service .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.main-service h1 {
  color: var(--blue);
}
.main-service__content {
  max-width: 1292px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.main-service .card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: var(--white);
  padding: 25px 30px;
  border-radius: 20px;
}
.main-service h3 {
}
.main-service .card-text {
  color: var(--grey);
}
@media (max-width: 1000px) {
  .main-service h1 {
    gap: 30px;
  }
  .main-service__content {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .main-service .card {
    gap: 20px;
    padding: 20px;
  }
}
/* --------------------------------------------- main-product --------------------------------------------- */
.product {
}
.product .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product h1 {
  margin-bottom: 60px;
  text-align: center;
}
.product__content--first {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}
.product__content--second {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product__content--first img {
  width: 249.33px;
  height: auto;
}
.product__content--second img {
  width: 183.33px;
  height: auto;
}
.product .card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 40px;
  background-color: var(--white);
}
.product .card-img {
  background-color: var(--secondary);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

/* .product .card-img img {
  margin-bottom: 40px;
} */
.product .card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 36px;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* количество строк */
  -webkit-box-orient: vertical;
}
.product .card-title {
  margin-bottom: 20px;
}
.product .card-text {
  margin-bottom: 36px;
}
.product .card .button {
  text-wrap: wrap;
  padding: 18px 0;
  margin-top: auto;
}
.product__btn--more {
  display: none;
}

@media (max-width: 1000px) {
  .product h1 {
    margin-bottom: 30px;
  }
  .product__content--first,
  .product__content--second {
    grid-template-columns: 1fr;
  }
  .product__content--first {
    margin-bottom: 20px;
  }
  .product__content--first img,
  .product__content--second img {
    max-width: 146.67px;
    max-height: 200px;
  }

  .product .card {
    padding: 20px;
  }
  .product .card-img img {
    margin-bottom: 20px;
  }
  .product .card-title {
    margin-bottom: 10px;
  }
  .product .card-text {
    margin-bottom: 20px;
  }

  .product__content--second .card {
    display: none;
  }
  .product__content--second.active .card {
    display: flex;
  }

  .product__btn--more {
    display: block;
  }
}
/* --------------------------------------------- main-insert --------------------------------------------- */
.main-insert {
}
.main-insert .container {
}
.main-insert-ctn {
  display: grid;
  grid-template-columns: 45% 55%;
  background-color: var(--white);
  border-radius: 40px;
}
.main-insert .insert-left {
}
.main-insert .insert-right {
  background-color: var(--blue);
}
.main-insert .insert-left img {
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
.main-insert .insert-right img {
  position: absolute;
  right: 0;
  bottom: 10%;
  pointer-events: none;
}
.main-insert .insert-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  border-radius: 40px;
  padding: 40px;
}
.main-insert .insert-content h2 {
  margin-bottom: 25px;
}
.main-insert .insert-content .insert__text {
  margin-bottom: 105px;
}
.main-insert .insert-content .insert__button {
}
@media (max-width: 1000px) {
  .main-insert-ctn {
    grid-template-columns: 1fr;
  }
  .main-insert .insert-left {
    margin-bottom: 20px;
  }
  .main-insert .insert-content {
    align-items: normal;
    padding: 20px;
  }
  .main-insert .insert-content h2 {
    margin-bottom: 10px;
  }
  .main-insert .insert-content .insert__text {
    margin-bottom: 40px;
  }
}
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */

/* --------------------------------------------- footer --------------------------------------------- */
.footer {
}

.footer .container {
}
.footer-ctn {
  padding: 40px;
  background-color: var(--white);
  border-radius: 40px;
  margin-bottom: 50px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  gap: 30px;
  border-bottom: 1px solid var(--grey);
}
.footer-col {
}
.footer-col:first-child {
}
.footer-col:nth-child(2) {
  display: flex;
  justify-content: space-around;
  gap: 120px;
}
.footer-col:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-logo {
  display: flex;
  gap: 35px;
  margin-bottom: 35px;
}
.footer-logo img {
}
.footer-address {
  color: var(--grey);
  margin-bottom: 40px;
}
.footer-question {
  margin-bottom: 20px;
}
.footer-btn__send {
  width: fit-content;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-list__title {
  margin-bottom: 10px;
}
.footer-list__item {
  color: var(--grey);
}

.footer-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-but {
  padding: 15px 25px;
  border-radius: 12px;
  border: 1.5px solid transparent;
  transition: var(--transition);
  cursor: pointer;
}
.footer-but:hover {
  opacity: 0.7;
}
.footer-number {
  border-color: rgba(190, 24, 35, 1);
  color: var(--grey);
}
.footer-mail {
  border-color: rgba(47, 92, 167, 1);
  color: var(--grey);
}
.footer-button__WA {
  color: var(--white);
  background-color: rgba(39, 208, 69, 1);
}
.footer-button__TG {
  color: var(--white);
  background-color: rgba(37, 162, 224, 1);
}
.footer-bottom {
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-bottom__left-item:first-child {
  display: flex;
  gap: 15px;
}
.footer-bottom__left-item:nth-child(2) {
  display: flex;
  gap: 25px;
}
.footer-bottom__left-item span {
}
.footer-bottom__left-item a {
  color: var(--grey);
  text-decoration: underline;
}
.footer-bottom__logo {
  display: flex;
  gap: 10px;
}
.footer-bottom__logo {
  height: 70px;
}
@media (max-width: 1000px) {
  .footer-ctn {
    padding: 20px;
    margin-bottom: 20px;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    gap: 30px;
  }
  .footer-col {
  }
  .footer-col:first-child {
  }
  .footer-col:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer-col:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  /* --- */
  .footer-logo {
    margin-bottom: 10px;
  }
  .footer-logo img {
  }
  .footer-address {
    margin-bottom: 25px;
  }
  .footer-question {
    margin-bottom: 15px;
  }
  .footer-btn__send {
    width: 100%;
  }
  .footer-list {
    gap: 8px;
  }
  .footer-list__title {
    margin-bottom: 7px;
  }
  .footer-list__item {
  }
  .footer-but {
    padding: 10px 20px;
  }

  .footer-bottom {
    margin: 20px 0;

    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .footer-bottom__left {
    gap: 15px;
  }

  .footer-bottom__left-item:first-child,
  .footer-bottom__left-item:nth-child(2) {
    flex-direction: column;
    gap: 5px;
  }
  .footer-bottom__left-item span {
  }
  .footer-bottom__left-item a {
    color: var(--grey);
    text-decoration: underline;
  }
  .footer-bottom__logo {
    gap: 5px;
  }
}

/* --------------------------------------------- service-page --------------------------------------------- */

.service-title {
  /* margin-top: 90px; */
}
.service-title .container {
}
.service-title__ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 360px;
  box-shadow: 0px 4px 4px 0px rgba(49, 102, 205, 0.1);
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}
.service-title__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.service-title__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 560px;
}
.service-title__text {
  margin-top: 40px;
  margin-bottom: 20px;
  color: var(--grey);
}

.service-content {
}
.service-content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-subtitle {
  text-align: center;
  margin-bottom: 60px;
}
.service-tab {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
  overflow: auto;
  max-width: 100%;
}
.service-tab__item {
  border-radius: 20px;
  padding: 20px 30px;
  text-align: center;
  cursor: pointer;
  color: var(--black);
  transition: var(--transition);
  text-wrap: nowrap;
}
.service-tab__item:hover {
  opacity: 0.7;
}
.service-tab__item.active {
  color: var(--white);
  background-color: var(--blue);
}
.service-untab {
  padding: 25px 30px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  margin-bottom: 100px;
}
.service-untab__item {
  text-wrap: nowrap;
}
.service-untab__dot {
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  background-color: var(--blue);
}
.service-variable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 150px;
  padding: 0 100px;
}
.service-variable__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: 20px;
  padding: 25px 30px;
  min-height: 200px;
}
.service-variable__item a {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition);
  color: var(--blue);
}
.service-variable__item a:hover {
  opacity: 0.7;
}
.service-variable__item span {
}
.service-variable__item img {
  height: 12px;
  width: 15.6px;
}
/* ------------------ */
.service-tittle__three {
  text-align: center;
  margin-bottom: 40px;
}
.service-table {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 40px;

  width: 100%;
}
.service-table__item {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  border-bottom: 1px solid var(--grey-20);
}
.service-table__title {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 25px;
}
.service-table__title-dot__blue,
.service-table__title-dot__red {
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
}
.service-table__title-dot__blue {
  background-color: var(--blue);
}
.service-table__title-dot__red {
  background-color: var(--red);
}
.service-table__title span {
}
.service-table__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.service-table__content-item {
  padding: 25px;
  border-radius: 20px;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.service-table__content-item span:first-child {
}
.service-table__content-item span:nth-child(2) {
  color: var(--grey);
}
.service-table__content-item a {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition);
  color: var(--blue);
}
@media (max-width: 1000px) {
  .service-title__ctn {
    min-height: auto;
    padding: 30px 20px;
  }
  .service-title__content {
    width: auto;
  }
  .service-title__text {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .service-subtitle {
    margin-bottom: 30px;
  }
  .service-tab {
    display: flex;
    gap: 5px;
  }
  .service-untab__dot {
    min-width: 8px;
    min-height: 8px;
  }
  .service-untab {
    padding: 20px 25px;
    margin-bottom: 50px;
  }

  .service-variable {
    display: flex;
    overflow: auto;
    max-width: 100%;
    gap: 15px;
    padding: 0;
    margin-bottom: 80px;
  }
  .service-variable__item {
    max-height: 180px;
    min-width: 320px;
    padding: 20px;
  }

  .service-table {
    padding: 20px;
  }
  .service-tittle__three {
    margin-bottom: 35px;
  }
  .service-table__item {
    display: flex;
    flex-direction: column;
  }
  .service-table__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .service-table__content-item {
    padding: 20px;
  }
  .service-table__title-dot__blue,
  .service-table__title-dot__red {
    min-width: 15px;
    min-height: 15px;
  }
}
/* --------------------------------------------- product-postava-page --------------------------------------------- */

.product-title {
  /* margin-top: 90px; */
}
.product-title .container {
}
.product-title__ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 560px;
  box-shadow: 0px 4px 4px 0px rgba(49, 102, 205, 0.1);
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
}
.product-title__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.product-title__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product-title__text {
  margin-top: 40px;
  margin-bottom: 20px;
  color: var(--grey);
}
.product-program {
}
.product-program .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.product-program__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.product-program__content .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 25px 30px;
}
.product-program__content .card-top {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.product-program__content .card h3 {
}
.product-program__content .card-text {
  color: var(--grey);
}
.product-program__content .card-button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--blue);
  transition: var(--transition);
}
.product-program__content .card-button:hover {
  opacity: 0.7;
}
.product-program__content .card-button span {
}
.product-program__content .card-button img {
}
@media (max-width: 1000px) {
  .product-title__ctn {
    min-height: auto;
    padding: 30px 20px;
  }
  .product-title__content {
    width: auto;
  }
  .product-title__text {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .product-program .container {
    gap: 30px;
  }

  .product-program__content {
    display: flex;
    flex-direction: column;

    gap: 20px;
  }
  .product-program__content .card {
    gap: 30px;

    padding: 20px;
  }
  .product-program__content .card-top {
    gap: 10px;
  }
}
/* --------------------------------------------- product-buh-page --------------------------------------------- */
.product-title__buh {
}
.product-title__buh .container {
}
.product-title__buh-ctn {
  /* margin-top: 90px; */
  padding: 50px 100px;
  border-radius: 40px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.product-title__buh-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-title__buh-content h1 {
  margin-bottom: 20px;
}
.product-title__buh-text {
  max-width: 593px;
  margin-bottom: 40px;
  color: var(--grey);
}

.buh-cards__ctn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 15px;
}
.buh-card {
  max-width: 288px;
  background-color: var(--secondary);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
}
.buh-card__img {
  background-color: var(--white);
  border-radius: 10px;
  min-width: 54px;
  min-height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.buh-card__img img {
}
.buh-card span {
  color: var(--grey);
}
.product-title__buh .button {
  width: fit-content;
}
.product-title__buh-img {
  width: 472px;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 25px;
  border: 14px solid rgba(246, 246, 246, 1);
}

.product-service {
}
.product-service .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.product-service h1 {
}
.product-service__cards-ctn {
  max-width: 1292px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product-service__cards-ctn .card {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 35px 30px;
  background-color: var(--white);
  border-radius: 20px;
}
.product-service__cards-ctn .card-img {
  min-width: 54px;
  min-height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 10px;
}
.product-service__cards-ctn .card-img img {
}
.product-service__cards-ctn .card-text {
  color: var(--grey);
}

.product-version {
}
.product-version .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 60px;
}
.product-version h1 {
  text-align: center;
}

.switcher-product .switcher {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: auto;
  gap: 10px;
  padding: 10px 15px;
  background-color: var(--white);
  border-radius: 24px;
}
.switcher-product .switcher-title__item {
  padding: 20px 30px;
  color: var(--black);
  transition: var(--transition);
  cursor: pointer;
}
.switcher-product .switcher-title__item:hover {
  opacity: 0.7;
}
.switcher-product .switcher-title__item.active {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 20px;
}

.switcher-product .switcher-content {
  max-width: 100%;
}
.switcher-product .switcher-content__item {
  padding: 40px;
  background-color: var(--white);
  border-radius: 24px;
  display: none;
  gap: 25px;
}
.switcher-product .switcher-content__item.active {
}
.switcher-product .switcher-content__item.active {
  display: flex;
}
.switcher-product .table {
  max-width: 100%;
  overflow: auto;
  padding: 25px 0;
  border: 1px solid var(--grey-20);
  display: grid;
  grid-template-columns: 420px auto auto auto;

  border-radius: 24px;
}

.switcher-product .table-row__cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switcher-product .table-cell {
  padding: 15px 30px;
}
.switcher-product .table-cell.blue-cell {
  background-color: var(--secondary);
}
.switcher-product .table-title {
}
.switcher-product .table-text {
}
.switcher-product .table-icon--ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switcher-product .table-icon {
  align-self: center;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  width: fit-content;
}
.switcher-product .table-icon img {
}
.switcher-product .table-icon.opacity {
  opacity: 0.2;
}
.version-deal {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  background-color: var(--secondary);
  border-radius: 24px;
}
.version-deal h3 {
  margin-bottom: 10px;
}
.version-deal__text {
  color: var(--grey);
  margin-bottom: 40px;
}
.version-deal__info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--grey);
}
.version-deal__price {
  text-wrap: nowrap;
  border-radius: 16px;
  background-color: var(--blue);
  padding: 12px 20px;
  color: var(--white);
}
.version-deal__time {
  text-wrap: nowrap;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 30px;
  border: 1px solid var(--blue-80);
  color: var(--blue-80);
}
.version-deal .button {
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .product-title__buh-ctn {
    padding: 30px 20px;
  }
  .product-title__buh-content h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .product-title__buh-content {
    width: 100%;
  }
  .product-title__buh-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-title__buh-img {
    width: 221px;
    height: 230px;
    margin-bottom: 25px;
    max-width: 100%;
    border: 6.5px solid rgba(246, 246, 246, 1);
    padding: 10px 30px;
  }
  .buh-cards__ctn {
    text-wrap: nowrap;
    max-width: 100%;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 10px;
  }
  .product-title__buh .button {
    width: 100%;
  }
  .product-service .container {
    gap: 30px;
  }

  .product-service__cards-ctn {
    max-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .product-service__cards-ctn .card {
    gap: 15px;
    padding: 20px;
  }

  .product-version .container {
    gap: 30px;
  }

  .switcher-product .switcher {
    gap: 5px;
    padding: 10px 12px;
  }
  .switcher-product .switcher-title__item {
    padding: 15px 25px;
  }

  .switcher-product .switcher-content__item {
    padding: 20px;

    flex-direction: column-reverse;
    gap: 25px;
  }
  .switcher-product .table {
    max-width: 100%;
    overflow: auto;
    padding: 20px 0;
    grid-template-columns: 220px auto auto auto;
  }

  .switcher-product .table-cell {
    padding: 10px 20px;
  }

  .switcher-product .table-icon {
    min-width: 30px;
    min-height: 30px;
  }
  .version-deal {
    padding: 20px;
    border-radius: 16px;
  }
  .version-deal h3 {
    margin-bottom: 8px;
  }
  .version-deal__text {
    margin-bottom: 30px;
  }
  .version-deal__info {
    padding-bottom: 15px;
  }
  .version-deal__price {
    border-radius: 12px;
    padding: 10px 16px;
  }

  .version-deal .button {
    margin-top: 15px;
  }
}
/* --------------------------------------------- certificate-page --------------------------------------------- */
.certificate-block {
}
.certificate-block .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
.certificate-title {
}
.certificate-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.certificate-block .card {
  background-color: var(--white);
  padding: 25px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.certificate-block .card-img {
  background-color: var(--secondary);
  padding: 20px 25px;
  border-radius: 20px;
  max-height: 210px;
  overflow: hidden;
}
.certificate-block .card-img img {
  max-height: none;
}
.certificate-block .card-img img {
}
.certificate-block .card-text {
}
.modal-content .card {
  text-align: center;
  background-color: var(--white);
  /* padding: 25px; */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: none;
}
.modal-content .card-img {
  background-color: var(--secondary);
  padding: 20px 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--grey-20);
}
.modal-content .card-img img {
  max-height: 100%;
  max-height: 400px;
}
@media (max-width: 1000px) {
  .certificate-block .container {
    gap: 30px;
  }
  .certificate-title {
  }
  .certificate-content {
    display: flex;
    flex-direction: column;
  }
  .certificate-block .card {
    padding: 20px;
    border-radius: 20px;
    gap: 15px;
  }
  .certificate-block .card-img {
    padding: 10px;
    border-radius: 20px;
  }
}
/* --------------------------------------------- about-page --------------------------------------------- */
.about-title {
}
.about-title .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.about-title__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.about-title h1 {
  margin-bottom: 40px;
}
.about-text {
}
.about-img {
  background-color: var(--white);
  padding: 20px;
  border-radius: 40px;
}
.about-img img {
  border-radius: 20px;
}
.about-portfolio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-portfolio__title {
  color: var(--blue);
}
.about-portfolio__tiles {
  max-width: 100%;
  overflow: auto;
  display: flex;
  gap: 10px;
  text-wrap: nowrap;
}
.about-tile {
  background-color: var(--white);
  color: var(--grey);
  padding: 15px 25px;
  border-radius: 12px;
}
@media (max-width: 1000px) {
  .about-title .container {
    display: flex;
    flex-direction: column;
  }

  .about-title h1 {
    margin-bottom: 15px;
  }

  .about-img {
    padding: 15px;
  }

  .about-portfolio {
    gap: 10px;
  }

  .about-tile {
    padding: 10px 20px;
    border-radius: 10px;
  }
}
/* --------------------------------------------- contact-page --------------------------------------------- */
.form-contact .form-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: var(--secondary);
  border-radius: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group__item {
  display: flex;
  gap: 8px;
}
.form-group__item img {
  width: 35px;
  height: 35px;
}
.form-group__item span {
}
.form-group__item a {
  text-decoration: underline;
  color: var(--black);
  transition: var(--transition);
}
.form-group__item a:hover {
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .form-contact .form-bottom {
    display: flex;
    flex-direction: column;
  }
  .form-group {
    gap: 13px;
  }

  .form-group__item img {
    width: 25px;
    height: 25px;
  }
}
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */
/* ---------------------------------------------  --------------------------------------------- */
/* --------------------------------------------- additional --------------------------------------------- */
.accent-blue {
  color: var(--blue);
}
.accent-red {
  color: var(--red);
}
.color-blue {
  color: var(--blue) !important;
}
.color-white {
  color: var(--white);
}
.color-black {
  color: var(--black);
}
.color-grey {
  color: var(--grey);
}
.desc {
  display: flex;
}
.mob {
  display: none;
}
.header--mob {
  display: none;
}
@media (max-width: 1000px) {
  .desc {
    display: none;
  }
  .mob {
    display: flex;
  }
}
@media (max-width: 1300px) {
  .header--mob {
    display: flex;
  }
  .header--desc {
    display: none;
  }
}
