<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../asset/main.css" />
    <link rel="stylesheet" href="../asset/style.css" />
    <link rel="stylesheet" href="../asset/fonts/font.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>

  <body>
    <div class="wrapper" id="product-page">
      <header class="header">
        <div class="container">
          <div class="header-logo">
            <a href="/">
              <img src="../asset/img/logo_e2e.png" alt="logo" />
              <img src="../asset/img/logo_1c.png" alt="logo" />
            </a>
          </div>
          <button
            class="burger"
            data-burger
            aria-label="Открыть меню"
            aria-expanded="false"
          >
            <span class="burger__line"></span>
          </button>
          <nav class="nav text18" data-nav>
            <ul class="nav-list">
              <li class="nav-item">
                <div class="nav-item__url">
                  <span>Услуги</span>
                  <img src="../asset/img/icons/IconArrowBottom.svg" alt="" />
                </div>

                <div class="nav-item__dropdown">
                  <ul>
                    <a href="../templates/services.logistic.page.html">
                      <li>Логистика</li>
                    </a>
                    <a href="../templates/services.torgovly.page.html">
                      <li>Розница</li>
                    </a>
                    <a href="../templates/services.obshepit.page.html">
                      <li>Общепит</li>
                    </a>
                    <a href="../templates/services.making.page.html">
                      <li>Производство</li>
                    </a>
                  </ul>
                </div>
              </li>
              <li class="nav-item active">
                <div class="nav-item__url">
                  <span>Продукты</span>
                  <img src="../asset/img/icons/IconArrowBottom.svg" alt="" />
                </div>
                <div class="nav-item__dropdown">
                  <ul>
                    <a href="../templates/product.postava.page.html">
                      <li>Поставляемые</li>
                    </a>
                    <a href="../templates/product.buh.page.html">
                      <li>Бухгалтерия</li>
                    </a>
                  </ul>
                </div>
              </li>

              <!-- <li class="nav-item">
                <a href="#">Аренда программ 1C</a>
              </li> -->
              <li class="nav-item">
                <div class="nav-item__url">
                  <span>Импортозамещение</span>
                  <img src="../asset/img/icons/IconArrowBottom.svg" alt="" />
                </div>
                <div class="nav-item__dropdown">
                  <ul>
                    <a href="../templates/rentProgram.page.html">
                      <li>Аренда</li>
                    </a>
                    <a href="../templates/certificate.page.html">
                      <li>Сертификаты</li>
                    </a>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-item__url" href="#">Битрикс 24</a>
              </li>
              <li class="nav-item">
                <a class="nav-item__url" href="../templates/about.page.html"
                  >О нас</a
                >
              </li>
            </ul>
            <div class="nav-contact">
              <div class="header-contact">
                <span class="nav-item">
                  <a
                    class="nav-item__url"
                    href="../templates/contacts.page.html"
                  >
                    Контакты
                  </a>
                </span>
              </div>
              <div class="header--mob nav-bottom__contact">
                <a
                  href="tel:88007002779"
                  class="header--mob button button-blue header-button"
                  >8 800 700-27-79</a
                >
                <button class="button header-button">Заказать звонок</button>
              </div>
            </div>
            <div class="header--desc nav-bottom__contact">
              <button class="button header-button">Заказать звонок</button>
            </div>
          </nav>
          <!-- <div class="header-contact desk">
            <span>8 800 700-27-79</span>
            <span class="button">Заказать звонок</span>
          </div> -->
        </div>
      </header>
      <section class="product-title__buh">
        <div class="container">
          <div class="product-title__buh-ctn">
            <div class="product-title__buh-content">
              <div>
                <h1>
                  1с:Бухгалтерия<br />
                  <span class="color-black"> для налогов и отчётов</span>
                </h1>
                <div class="product-title__buh-img mob">
                  <img src="../asset/img/bool-title__buh.png" alt="book" />
                </div>
                <div class="product-title__buh-text text22 desc">
                  Самая популярная бухгалтерская программа, способная вывести
                  автоматизацию учёта на качественно новый уровень
                </div>
                <div class="buh-cards__ctn">
                  <div class="buh-card">
                    <div class="buh-card__img">
                      <img
                        src="../asset/img/icons/product-buh__icon-1.svg"
                        alt="icon"
                      />
                    </div>
                    <span>
                      <span class="color-blue">8 лет</span>
                       внедряем<br />
                      и сопровождаем 1C
                    </span>
                  </div>
                  <div class="buh-card">
                    <div class="buh-card__img">
                      <img
                        src="../asset/img/icons/product-buh__icon-2.svg"
                        alt="icon"
                      />
                    </div>
                    <span>
                      Автоматизировали <br />
                      <span class="color-blue">500+ проектов</span>
                    </span>
                  </div>
                  <div class="buh-card">
                    <div class="buh-card__img">
                      <img
                        src="../asset/img/icons/product-buh__icon-3.svg"
                        alt="icon"
                      />
                    </div>
                    <span>
                      Работаем с компаниями<br />
                      <span class="color-blue">от 5 до 1000 сотрудников</span>
                    </span>
                  </div>
                </div>
              </div>
              <button class="button button-red">Подобрать решение</button>
            </div>

            <div class="product-title__buh-img desc">
              <img src="../asset/img/bool-title__buh.png" alt="book" />
            </div>
          </div>
        </div>
      </section>
      <section class="product-service">
        <div class="container">
          <h1>Услуги</h1>
          <div class="product-service__cards-ctn">
            <div class="card">
              <div class="card-img">
                <img
                  src="../asset/img/icons/product-service-1.svg"
                  alt="icon"
                />
              </div>
              <div class="card-text text22">
                Учет доходов и расходов компании
              </div>
            </div>
            <div class="card">
              <div class="card-img">
                <img
                  src="../asset/img/icons/product-service-2.svg"
                  alt="icon"
                />
              </div>
              <div class="card-text text22">
                Учет и планирование производственных операци
              </div>
            </div>
            <div class="card">
              <div class="card-img">
                <img
                  src="../asset/img/icons/product-service-3.svg"
                  alt="icon"
                />
              </div>
              <div class="card-text text22">
                Автоматизация бухгалтерских процессов
              </div>
            </div>
            <div class="card">
              <div class="card-img">
                <img
                  src="../asset/img/icons/product-service-4.svg"
                  alt="icon"
                />
              </div>
              <div class="card-text text22">Контроль за финансами</div>
            </div>
            <div class="card">
              <div class="card-img">
                <img
                  src="../asset/img/icons/product-service-5.svg"
                  alt="icon"
                />
              </div>
              <div class="card-text text22">Интеграция с другими системами</div>
            </div>
            <div class="card">
              <div class="card-img">
                <img
                  src="../asset/img/icons/product-service-6.svg"
                  alt="icon"
                />
              </div>
              <div class="card-text text22">
                Управление отношениями с клиентами
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="product-version switcher-product">
        <div class="container">
          <h1>
            Версии программы <br />
            <span class="accent-red">1с:бухгалтерия</span>
          </h1>
          <div class="switcher">
            <h3 data-key="base" class="switcher-title__item">Базовая</h3>
            <h3 data-key="prof" class="switcher-title__item">
              Профессиональная
            </h3>
            <h3 data-key="corp" class="switcher-title__item">Корпоративная</h3>
          </div>
          <div class="switcher-content">
            <div data-value="base" class="switcher-content__item">
              <div class="table">
                <!-- title -->
                <div class="table-cell table-title text20">Критерий 1</div>
                <div class="table-cell table-title text20">Базовая</div>
                <div class="table-cell table-title text20">
                  Профессиональная
                </div>
                <div class="table-cell table-title text20">Корпоративная</div>
                <!-- row1 -->
                <div class="table-cell blue-cell table-text">
                  Готовое решение для ведения бухгалтерского и налогового учета
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row2 -->
                <div class="table-cell table-text">
                  Подготовка бухгалтерской и налоговой отчетности
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row3 -->
                <div class="table-cell blue-cell table-text">
                  Ведение налогового учета по налогу на прибыль
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row4 -->
                <div class="table-cell table-text">
                  Налоговый учет: УСН и ЕНВД
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row5 -->
                <div class="table-cell blue-cell table-text">
                  Ведение партионного учета
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row6 -->
                <div class="table-cell table-text">
                  Возможность настройки счетов учета
                  материально-производственных запасов и расчетов с
                  контрагентами
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row7 -->
                <div class="table-cell blue-cell table-text">
                  Учет по нескольким организациям в отдельных информационных
                  базах
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row8 -->
                <div class="table-cell table-text">
                  Учет по нескольким организациям в единой информационной базе
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row9 -->
                <div class="table-cell blue-cell table-text">
                  Возможность изменения (конфигурирования) прикладного решения
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row10 -->
                <div class="table-cell table-text">
                  Многопользовательский режим работы, в том числе поддержка
                  клиент-серверного варианта работы
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row11 -->
                <div class="table-cell blue-cell table-text">
                  Работа территориально распределенных информационных баз
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row12 -->
                <div class="table-cell table-text">
                  Поддержка COM-соединения и Automation-сервера
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row13 -->
                <div class="table-cell blue-cell table-text">
                  Использование в режиме веб-клиента
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row14 -->
                <div class="table-cell table-text">
                  Учет в обособленных подразделениях
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row -->
              </div>
              <div class="version-deal">
                <h3>1C:Бухгалтерия</h3>
                <div class="version-deal__text text22">
                  Профессиональная версия
                </div>
                <div class="version-deal__info">
                  <div class="version-deal__price text20">17 600 ₽</div>
                  <div class="version-deal__time text16">
                    + 2 часа в подарок
                  </div>
                </div>
                <button class="button button-red">Заказать продукт</button>
              </div>
            </div>
            <div data-value="prof" class="switcher-content__item">
              <div class="table">
                <!-- title -->
                <div class="table-cell table-title text20">Критерий 2</div>
                <div class="table-cell table-title text20">Базовая</div>
                <div class="table-cell table-title text20">
                  Профессиональная
                </div>
                <div class="table-cell table-title text20">Корпоративная</div>
                <!-- row1 -->
                <div class="table-cell blue-cell table-text">
                  Готовое решение для ведения бухгалтерского и налогового учета
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row2 -->
                <div class="table-cell table-text">
                  Подготовка бухгалтерской и налоговой отчетности
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row3 -->
                <div class="table-cell blue-cell table-text">
                  Ведение налогового учета по налогу на прибыль
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row4 -->
                <div class="table-cell table-text">
                  Налоговый учет: УСН и ЕНВД
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row5 -->
                <div class="table-cell blue-cell table-text">
                  Ведение партионного учета
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row6 -->
                <div class="table-cell table-text">
                  Возможность настройки счетов учета
                  материально-производственных запасов и расчетов с
                  контрагентами
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row7 -->
                <div class="table-cell blue-cell table-text">
                  Учет по нескольким организациям в отдельных информационных
                  базах
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row8 -->
                <div class="table-cell table-text">
                  Учет по нескольким организациям в единой информационной базе
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row9 -->
                <div class="table-cell blue-cell table-text">
                  Возможность изменения (конфигурирования) прикладного решения
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row10 -->
                <div class="table-cell table-text">
                  Многопользовательский режим работы, в том числе поддержка
                  клиент-серверного варианта работы
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row11 -->
                <div class="table-cell blue-cell table-text">
                  Работа территориально распределенных информационных баз
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row12 -->
                <div class="table-cell table-text">
                  Поддержка COM-соединения и Automation-сервера
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row13 -->
                <div class="table-cell blue-cell table-text">
                  Использование в режиме веб-клиента
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row14 -->
                <div class="table-cell table-text">
                  Учет в обособленных подразделениях
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row -->
              </div>
              <div class="version-deal">
                <h3>1C:Бухгалтерия</h3>
                <div class="version-deal__text text22">
                  Профессиональная версия
                </div>
                <div class="version-deal__info">
                  <div class="version-deal__price text20">17 600 ₽</div>
                  <div class="version-deal__time text16">
                    + 2 часа в подарок
                  </div>
                </div>
                <button class="button button-red">Заказать продукт</button>
              </div>
            </div>
            <div data-value="corp" class="switcher-content__item">
              <div class="table">
                <!-- title -->
                <div class="table-cell table-title text20">Критерий 3</div>
                <div class="table-cell table-title text20">Базовая</div>
                <div class="table-cell table-title text20">
                  Профессиональная
                </div>
                <div class="table-cell table-title text20">Корпоративная</div>
                <!-- row1 -->
                <div class="table-cell blue-cell table-text">
                  Готовое решение для ведения бухгалтерского и налогового учета
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row2 -->
                <div class="table-cell table-text">
                  Подготовка бухгалтерской и налоговой отчетности
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row3 -->
                <div class="table-cell blue-cell table-text">
                  Ведение налогового учета по налогу на прибыль
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row4 -->
                <div class="table-cell table-text">
                  Налоговый учет: УСН и ЕНВД
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row5 -->
                <div class="table-cell blue-cell table-text">
                  Ведение партионного учета
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row6 -->
                <div class="table-cell table-text">
                  Возможность настройки счетов учета
                  материально-производственных запасов и расчетов с
                  контрагентами
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row7 -->
                <div class="table-cell blue-cell table-text">
                  Учет по нескольким организациям в отдельных информационных
                  базах
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row8 -->
                <div class="table-cell table-text">
                  Учет по нескольким организациям в единой информационной базе
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row9 -->
                <div class="table-cell blue-cell table-text">
                  Возможность изменения (конфигурирования) прикладного решения
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row10 -->
                <div class="table-cell table-text">
                  Многопользовательский режим работы, в том числе поддержка
                  клиент-серверного варианта работы
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row11 -->
                <div class="table-cell blue-cell table-text">
                  Работа территориально распределенных информационных баз
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row12 -->
                <div class="table-cell table-text">
                  Поддержка COM-соединения и Automation-сервера
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row13 -->
                <div class="table-cell blue-cell table-text">
                  Использование в режиме веб-клиента
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <div class="table-cell blue-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row14 -->
                <div class="table-cell table-text">
                  Учет в обособленных подразделениях
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <!-- <div class="table-icon">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div> -->
                </div>
                <div class="table-cell table-icon--ctn">
                  <div class="table-icon opacity">
                    <img src="../asset/img/icons/icon-plus.svg" alt="plus" />
                  </div>
                </div>
                <!-- row -->
              </div>
              <div class="version-deal">
                <h3>1C:Бухгалтерия</h3>
                <div class="version-deal__text text22">
                  Профессиональная версия
                </div>
                <div class="version-deal__info">
                  <div class="version-deal__price text20">17 600 ₽</div>
                  <div class="version-deal__time text16">
                    + 2 часа в подарок
                  </div>
                </div>
                <button class="button button-red">Заказать продукт</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="insert-mark">
        <div class="container">
          <div class="insert-ctn">
            <h2>Хотите узнать стоимость?</h2>
            <div class="insert-mark__right">
              <div class="insert-mark__text text22">
                Заполните простую формы и мы ответим на все интересующие
                вас вопросы
              </div>
              <button class="button button-white">Оставить заявку</button>
            </div>
            <img
              class="img-inser-1"
              src="../asset/img/icons/bg/insert-1.svg"
              alt="inser-1"
            />
            <img
              class="img-inser-2"
              src="../asset/img/icons/bg/insert-2.svg"
              alt="inser-2"
            />
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container">
          <div class="footer-ctn">
            <div class="footer-top">
              <div class="footer-col">
                <div class="footer-logo">
                  <img src="../asset/img/logo_e2e.png" alt="logo_e2e" />
                  <img src="../asset/img/logo_1c.png" alt="logo_1c" />
                </div>
                <div class="footer-address text18">
                  Новороссийск, с. Цемдолина, ул. Школьная, д. 1А
                </div>
                <div class="footer-question text18">
                  Остались вопросы? Оставьте заявку,<br />
                  и наш администратор свяжется с Вами
                </div>
                <a class="button button-blue footer-btn__send">
                  Оставить заявку
                </a>
              </div>
              <div class="footer-col text18">
                <div class="footer-list">
                  <div class="footer-list__title text22">Услуги</div>
                  <div class="footer-list__item">ИТС сопровождение</div>
                  <div class="footer-list__item">Аналитика</div>
                  <div class="footer-list__item">Программы 1C</div>
                  <div class="footer-list__item">Доработка</div>
                  <div class="footer-list__item">Разработка</div>
                  <div class="footer-list__item">Оборудование</div>
                </div>
                <div class="footer-list">
                  <div class="footer-list__title text22">Компания</div>
                  <div class="footer-list__item">Все услуги</div>
                  <div class="footer-list__item">Продукты</div>
                  <div class="footer-list__item">О нас</div>
                  <div class="footer-list__item">Аренда программ 1C</div>
                  <div class="footer-list__item">Контакты</div>
                </div>
              </div>
              <div class="footer-col">
                <div class="footer-list__title text22">Контакты</div>
                <div class="footer-buttons">
                  <a href="tel:+88007002779" class="footer-but footer-number">
                    8 800 700-27-79
                  </a>
                  <a
                    href="mailto:projects@e-2-e.ru"
                    class="footer-but footer-mail"
                  >
                    projects@e-2-e.ru
                  </a>
                </div>
                <div class="footer-buttons">
                  <a class="footer-but footer-button__WA">WhatsApp</a>
                  <a class="footer-but footer-button__TG">Telegram</a>
                </div>
              </div>
            </div>
            <div class="footer-bottom text16">
              <div class="footer-bottom__left">
                <div class="footer-bottom__left-item">
                  <span>ООО «Е2Е АЙТИ ИНТЕГРАЦИИ»</span>
                  <span>ИНН: 2315231492</span>
                  <span>КПП: 231501001</span>
                </div>
                <div class="footer-bottom__left-item">
                  <a href="#">Политика конфиденциальности</a>
                  <a href="#">Скачать реквизиты</a>
                </div>
              </div>
              <div class="footer-bottom__logo">
                <img src="../asset/img/footer-logo__p7.png" alt="p7" />
                <img src="../asset/img/footer-logo__bitrix.png" alt="bitrix" />
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../asset/app.js"></script>
  </body>
</html>
