<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../asset/main.css" />
    <link rel="stylesheet" href="../asset/style.css" />
    <link rel="stylesheet" href="../asset/fonts/font.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>

  <body>
    <div class="wrapper" id="services-page">
      <header class="header">
        <div class="container">
          <div class="header-logo">
            <a href="../">
              <img src="../asset/img/logo_e2e.png" alt="logo" />
              <img src="../asset/img/logo_1c.png" alt="logo" />
            </a>
          </div>
          <button
            class="burger"
            data-burger
            aria-label="Открыть меню"
            aria-expanded="false"
          >
            <span class="burger__line"></span>
          </button>
          <nav class="nav text18" data-nav>
            <ul class="nav-list">
              <li class="nav-item">
                <div class="nav-item__url">
                  <span>Услуги</span>
                  <img src="../asset/img/icons/IconArrowBottom.svg" alt="" />
                </div>

                <div class="nav-item__dropdown">
                  <ul>
                    <a href="../templates/services.logistic.page.html">
                      <li>Логистика</li>
                    </a>
                    <a href="../templates/services.torgovly.page.html">
                      <li>Розница</li>
                    </a>
                    <a href="../templates/services.obshepit.page.html">
                      <li>Общепит</li>
                    </a>
                    <a href="../templates/services.making.page.html">
                      <li>Производство</li>
                    </a>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-item__url">
                  <span>Продукты</span>
                  <img src="../asset/img/icons/IconArrowBottom.svg" alt="" />
                </div>
                <div class="nav-item__dropdown">
                  <ul>
                    <a href="../templates/product.postava.page.html">
                      <li>Поставляемые</li>
                    </a>
                    <a href="../templates/product.buh.page.html">
                      <li>Бухгалтерия</li>
                    </a>
                  </ul>
                </div>
              </li>

              <!-- <li class="nav-item">
                <a href="#">Аренда программ 1C</a>
              </li> -->
              <li class="nav-item active">
                <div class="nav-item__url">
                  <span>Импортозамещение</span>
                  <img src="../asset/img/icons/IconArrowBottom.svg" alt="" />
                </div>
                <div class="nav-item__dropdown">
                  <ul>
                    <a href="../templates/rentProgram.page.html">
                      <li>Аренда</li>
                    </a>
                    <a href="../templates/certificate.page.html">
                      <li>Сертификаты</li>
                    </a>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-item__url" href="#">Битрикс 24</a>
              </li>
              <li class="nav-item">
                <a class="nav-item__url" href="../templates/about.page.html"
                  >О нас</a
                >
              </li>
            </ul>
            <div class="nav-contact">
              <div class="header-contact">
                <span class="nav-item">
                  <a
                    class="nav-item__url"
                    href="../templates/contacts.page.html"
                  >
                    Контакты
                  </a>
                </span>
              </div>
              <div class="header--mob nav-bottom__contact">
                <a
                  href="tel:88007002779"
                  class="header--mob button button-blue header-button"
                  >8 800 700-27-79</a
                >
                <button data-path="popup-form" class="open-modal button header-button">Заказать звонок</button>
              </div>
            </div>
            <div class="header--desc nav-bottom__contact">
              <button data-path="popup-form" class="open-modal button header-button">Заказать звонок</button>
            </div>
          </nav>
          <!-- <div class="header-contact desk">
            <span>8 800 700-27-79</span>
            <span class="button">Заказать звонок</span>
          </div> -->
        </div>
      </header>

      <section class="form form-rent">
        <div class="container">
          <div class="form-ctn">
            <div class="form-form">
              <h2 class="form-title">
                аренда программ <span class="accent-red">1С</span>
              </h2>
              <div class="form-text text22">
                Эта программа представляет собой виртуальной аналог коробочной
                версии 1С. Зайти в приложение можно с любого устройства
                через интернет.
              </div>
              <div class="form-inputs text18">
                <input placeholder="Ваше имя" type="text" />
                <input placeholder="Ваш email" type="email" />
                <!-- <input placeholder="Название компании" type="text" /> -->
                <!-- <div>Какая услуга вас интересует</div> -->
                <div class="form-inputs__span text14">
                  *Отправляя заявку, вы соглашаетесь на обработку персональных
                  данных
                </div>
              </div>

              <button data-path="popup-form" class="open-modal button button-blue form-button__send">
                Арендовать
              </button>
              <div class="form-img mob">
                <img src="../asset/img/form-rent.png" alt="form-rent" />
              </div>
              <div class="form-bottom">
                <div class="form-bottom__text">
                  Работает на любой операционной системе:
                </div>
                <div class="form-bottom__buttons">
                  <div class="form-bottom__system">Windows</div>
                  <div class="form-bottom__system">MacOs</div>
                  <div class="form-bottom__system">Linux</div>
                  <div class="form-bottom__system">Android</div>
                  <div class="form-bottom__system">Ios</div>
                </div>
              </div>
            </div>
            <div class="form-img desc">
              <img src="../asset/img/form-rent.png" alt="form-rent" />
            </div>
          </div>
        </div>
      </section>
      <section class="insert-mark">
        <div class="container">
          <div class="insert-ctn">
            <h2>Хотите узнать стоимость?</h2>
            <div class="insert-mark__right">
              <div class="insert-mark__text text22">
                Заполните простую формы и мы ответим на все интересующие
                вас вопросы
              </div>
              <button data-path="popup-form" class="open-modal button button-white">Оставить заявку</button>
            </div>
            <img
              class="img-inser-1"
              src="../asset/img/icons/bg/insert-1.svg"
              alt="inser-1"
            />
            <img
              class="img-inser-2"
              src="../asset/img/icons/bg/insert-2.svg"
              alt="inser-2"
            />
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container">
          <div class="footer-ctn">
            <div class="footer-top">
              <div class="footer-col">
                <div class="footer-logo">
                  <img src="../asset/img/logo_e2e.png" alt="logo_e2e" />
                  <img src="../asset/img/logo_1c.png" alt="logo_1c" />
                </div>
                <div class="footer-address text18">
                  Новороссийск, с. Цемдолина, ул. Школьная, д. 1А
                </div>
                <div class="footer-question text18">
                  Остались вопросы? Оставьте заявку,<br />
                  и наш администратор свяжется с Вами
                </div>
                <button
                  data-path="popup-form"
                  class="button button-blue footer-btn__send open-modal"
                >
                  Оставить заявку
                </button>
              </div>
              <div class="footer-col text18">
                <div class="footer-list">
                  <div class="footer-list__title text22">Услуги</div>
                  <div class="footer-list__item">ИТС сопровождение</div>
                  <div class="footer-list__item">Аналитика</div>
                  <div class="footer-list__item">Программы 1C</div>
                  <div class="footer-list__item">Доработка</div>
                  <div class="footer-list__item">Разработка</div>
                  <div class="footer-list__item">Оборудование</div>
                </div>
                <div class="footer-list">
                  <div class="footer-list__title text22">Компания</div>
                  <div class="footer-list__item">Все услуги</div>
                  <div class="footer-list__item">Продукты</div>
                  <div class="footer-list__item">О нас</div>
                  <div class="footer-list__item">Аренда программ 1C</div>
                  <div class="footer-list__item">Контакты</div>
                </div>
              </div>
              <div class="footer-col">
                <div class="footer-list__title text22">Контакты</div>
                <div class="footer-buttons">
                  <a href="tel:+88007002779" class="footer-but footer-number">
                    8 800 700-27-79
                  </a>
                  <a
                    href="mailto:projects@e-2-e.ru"
                    class="footer-but footer-mail"
                  >
                    projects@e-2-e.ru
                  </a>
                </div>
                <div class="footer-buttons">
                  <a class="footer-but footer-button__WA">WhatsApp</a>
                  <a class="footer-but footer-button__TG">Telegram</a>
                </div>
              </div>
            </div>
            <div class="footer-bottom text16">
              <div class="footer-bottom__left">
                <div class="footer-bottom__left-item">
                  <span>ООО «Е2Е АЙТИ ИНТЕГРАЦИИ»</span>
                  <span>ИНН: 2315231492</span>
                  <span>КПП: 231501001</span>
                </div>
                <div class="footer-bottom__left-item">
                  <a href="#">Политика конфиденциальности</a>
                  <a href="#">Скачать реквизиты</a>
                </div>
              </div>
              <div class="footer-bottom__logo">
                <img src="../asset/img/footer-logo__p7.png" alt="p7" />
                <img src="../asset/img/footer-logo__bitrix.png" alt="bitrix" />
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="modal-block">
        <div class="modal-overlay">
          <div data-target="popup-form" class="modal">
            <div class="modal-content">
              <div class="form-form form-popup">
                <h3 class="form-title">
                  <span>Оставить заявку</span>

                  <div class="modal-close">
                    <img src="../asset/img/icons/close.svg" alt="close" />
                  </div>
                </h3>
                <div class="form-inputs__span text14">
                  Если вы готовы автоматизировать ваш бизнес, оставьте заявку, и
                  наш консультант свяжется с вами
                </div>
                <div class="form-inputs text18">
                  <input placeholder="Ваше имя" type="text" />
                  <input placeholder="Ваш email" type="email" />
                  <input placeholder="Название компании" type="text" />
                  <div class="select-ctn">
                    <select name="select" class="text18">
                      <option selected class="text18" value="value1">
                        Какая услуга вас интересует
                      </option>
                      <option class="text18" value="value2">РПГ</option>
                      <option class="text18" value="value3">Бананы</option>
                      <option class="text18" value="value4">2 человека</option>
                    </select>
                    <div class="select-ctn__img">
                      <img
                        src="../asset/img/icons/IconArrowBottom.svg"
                        alt="ArrowBottom"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-inputs__span text14">
                  *Отправляя заявку, вы соглашаетесь на обработку персональных
                  данных
                </div>
                <button class="button button-red form-button__send">
                  Отправить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../asset/app.js"></script>
  </body>
</html>
